body{
    padding: 0px;
    margin: 0px;
    background-color: #444554;
    /*background-image: url("https://www.transparenttextures.com/patterns/crissxcross.png");*/
    background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
      /*background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");*/
}

.header{
    text-align: center;
    margin-bottom: 20%;
  
}

.header h1{
    font-size: 7rem;
    color: #DBEDF3;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 9px 0 #DA0463;
    animation: slidein 4s;
}

@keyframes slidein {
  from{
      font-size: 5px;
      margin-bottom: 100%;
  }

  5%{
      font-size: 20px;
      color: gold;
      text-shadow: 9px 0 black;
  }
 
  30%{
      
      color: gold;
      text-shadow: 9px 0 black;
      font-size: 200px;
      width: 100%;
      transform: rotate(360deg);
  }

  
    
}
.header h1:hover::before{
   content: 'Hello';
}

.header h2{
    font-size: 3rem;
    color: #DBEDF3;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 3px 0 #DA0463;
}
.header p{
    margin-top: 5%;
    width: 40%;
   margin-left: 30%;
   color: #DBEDF3;
   font-family: 'Kanit', sans-serif;
   font-size: 2rem;
}

.container{
   display: grid;
   margin-left: 15%;
   grid-template-columns: 30% 30% ;
   
}

.skills{
    margin-left: 25%;
    margin-bottom: 10%;
}

.skills h1{
    font-size: 5rem;
    color: #DBEDF3;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 3px 0 #DA0463;
    margin-left: 14%;
}

.card  {
    width: 40%;
   margin-bottom: 10%;
   margin-left: 30%;
   
}

.card:hover{
    transform: scale(150%);
}



.buttons{
    margin-left: 40%;
    margin-bottom: 2%;
    
}


.card h1 {
    text-align: center;
    font-size: 4rem;
    color: #DBEDF3;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 3px 0 #DA0463;

}
.card p{
    
    text-align: center;
    color: #DBEDF3;
    font-family: 'Kanit', sans-serif;
    font-size: 1.5rem;
    
}

.card img{
    height: 80%;
    width: 80%;
    margin-left: 10%;

}



.projects{
    font-size: 3rem;
    color: #DBEDF3;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 3px 0 #DA0463;
    margin-left: 33%;
    margin-bottom: 15%;
}


@media  screen and (max-width: 1280px) {
    body{
        padding: 0px;
        margin: 0px;
        background-color: #444554;
       /* background-image: url("https://www.transparenttextures.com/patterns/crissxcross.png");*/
        background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
          /*background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");*/
    }
    
    .header{
        text-align: center;
        margin-bottom: 40%;
        
    }


    
    
    .header h1{
        font-size: 7rem;
        color: #DBEDF3;
        font-family: 'Permanent Marker', cursive;
        text-shadow: 9px 0 #DA0463;
        animation: slidein 20s;
    }
    
    @keyframes slidein {
      from{
          color: #DBEDF3;
      }
      10%{
          color:#444554;
      }
      20%{
          color: yellow;
      }
      30%{
          color:aqua
      }
      40%{
          color: gold;
      }
     
      50%{
          
          color: #DA0463;

      }
      60%{
          color: green;
      }

      70%{
         color: blue;
      }
      80%{
          color: teal;
      }
      
      90%{
          color: black;
      }
      
        
    }

    
   

    
    .header h2{
        font-size: 2rem;
        color: #DBEDF3;
        font-family: 'Permanent Marker', cursive;
        text-shadow: 3px 0 #DA0463;
    }
    .header p{
        margin-top: 5%;
        width: 70%;
       margin-left: 15%;
       color: #DBEDF3;
       font-family: 'Kanit', sans-serif;
       font-size: 1.3rem;
    }
    
    .container{
       display: grid;
        margin-left: 5%;
       grid-template-columns: 60% 60%  ;
       
    }
    
    .skills{
        margin-left: 0px;
        margin-bottom: 40%;
    }
    
    .skills h1{
        font-size: 3rem;
        color: #DBEDF3;
        font-family: 'Permanent Marker', cursive;
        text-shadow: 3px 0 #DA0463;
        margin-left: 10%;
    }
    
    .card  {
        width: 80%;
       margin-bottom: 30%;
       margin-left: 10%;

       
    }

   

    
   
    
    .buttons{
        margin-left: 30%;
        
    }
    
    .card h1 {
        text-align: center;
        font-size: 2.4rem;
        color: #DBEDF3;
        font-family: 'Permanent Marker', cursive;
        text-shadow: 3px 0 #DA0463;
    
    }
    .card p{
        
        text-align: center;
        color: #DBEDF3;
        font-family: 'Kanit', sans-serif;
        font-size: 1.5rem;
        
    }
    
    .card img{
        height: 80%;
        width: 80%;
        margin-left: 10%;
    
    }
    
    
    .projects{
        font-size: 1.3rem;
        color: #DBEDF3;
        font-family: 'Permanent Marker', cursive;
        text-shadow: 5px 0 #DA0463;
        margin-left: 15%;
        margin-bottom: 20%;
    }
    
}